nav {
     position: absolute;
    top: 50px;
    right: 0px; 
}

a {
      text-decoration: none;
}

header {
    background: #fff;
    padding: 5px 0 10px;
    overflow: hidden;
    font-style: italic;
    position: fixed;
    width: 100%;
    font-size: 14px;
    display: block;
    text-align: center;
}

#home {
   text-align: center;
   position: relative;
   padding: 10em 0 10em; 
   font-family: 'PT Sans', sans-serif;
   background-color: #30c0bb;
}

#portfolio {
    text-align: center;
    position: relative;
    font-family: 'PT Sans', sans-serif;
}

#about_me {
    text-align: center;
    position: relative;
    padding-bottom: 10em;
    font-family: 'PT Sans', sans-serif;
}

#skills {
    text-align: center;
    position: relative;
    padding: 10em 0 10em;
    font-family: 'PT Sans', sans-serif;
    background-color: #c03035; 
}

h2 {
    padding-bottom: 3em;
    font-family: 'PT Sans', sans-serif;
    font-size: 2em;
}

h1 {
    padding-bottom: 2em; 
    font-family: 'PT Sans', sans-serif;
    font-size: 4em; 
}

#home h2 {
    padding-bottom: 1em; 
}